In [1]:
import zipfile
import requests
from io import BytesIO
import os

In [2]:
os.makedirs('./enem2020', exist_ok=True)

In [3]:
url = 'https://download.inep.gov.br/microdados/microdados_enem_2020.zip'

filebytes = BytesIO(
    requests.get(url).content
)

myzip = zipfile.ZipFile(filebytes)
myzip.extractall("./enem2020/")

In [4]:
import pandas as pd

enem = pd.read_csv(
    "./enem2020/DADOS/MICRODADOS_ENEM_2020.csv",
    encoding="windows_1258",
    sep = ';'
)

In [5]:
pd.set_option('display.max_columns', None)

enem.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,200006271946,2020,11,F,1,2,1,1,11,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1501402,Bel√©m,15,PA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200001195856,2020,11,M,2,3,1,1,11,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2408102,Natal,24,RN,1,1,1,1,702.0,689.0,693.0,698.0,604.1,661.7,595.3,711.3,BCBDBDCCCDBDDBADEEACEEAECBECCDBCACDEBEECEBAAE,BCAECABCDCEBDBBBDAABABACBCDDDBDDBABDAADACACBC,99999CADDEDADBAABEAADAAAADCADAABDCCBEECAEECAAC...,EBEBDEDAECBADCADDABACAEDBEEEAEADCCBCEACDACEBB,1,ABBACBCCCDDDDBAEEBECEDACABDCBEDAECDABECCBBADE,BCEECDBCCDEBDBBBBEAAAEACBCDDDBDDBABDABDDBAABC,99999CBDDEDBDBACECABAAAEAECCDCABCBBBBEEDCECAAE...,BBEADECAECBBXCEBADBACAEDACEDADAADCBCCBBDABBEE,1.0,120.0,120.0,120.0,120.0,100.0,580.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200001943954,2020,4,F,2,3,2,2,0,2,1.0,0,2927408.0,Salvador,29.0,BA,2.0,1.0,1.0,2927408,Salvador,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,C,A,D,3.0,B,A,B,A,A,A,B,A,B,A,B,A,A,B,A,A,A,A,A,A
3,200001908998,2020,2,M,1,3,1,2,0,2,1.0,0,3547304.0,Santana de Parna√≠ba,35.0,SP,3.0,1.0,1.0,3547304,Santana de Parna√≠ba,35,SP,1,1,1,1,700.0,688.0,692.0,696.0,620.8,675.0,624.2,759.4,EBEDCCCDCBDBAECAECCECEACCBAABBBCEABCAAAEBEBAE,DABCCACCBCCDCADBDCBAAEBDDBAABDBAEBEBBABDABDBE,DCEAB99999AADAECCEBCDDDCBABDDABBCEEBAEDDDADEBE...,CBDBDCCDDEECBAABBBADEDEDBECDEBBADAEBAABBECBBA,0,BDECCACBEBDEAEDAECCBAEABCCEADDBBCADCBDDEBDBAC,DABCCAECBABECADBDCCABDBCDDAABDBAEBEBBDBDDBDBE,DCEAD99999AADACCCCBBDDCABAECAABBEECBAEDDBBEEBE...,EBDBXCCDAEECBAABABAEDDEDAECBCDCADEEBBABBACBCA,1.0,140.0,200.0,140.0,120.0,160.0,760.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200001634757,2020,4,F,1,3,2,1,1,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3121605,Diamantina,31,MG,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,G,B,B,3.0,B,A,B,D,A,A,B,A,B,A,A,A,A,B,A,B,B,A,A,B

In [6]:
df_esc_mg = enem.loc[enem["SG_UF_ESC"] == "MG"]

##### 1 - Qual √© a m√©dia da nota em matem√°tica dos alunos que estudaram numa escola em Minas Gerais?

In [7]:
df_esc_mg['NU_NOTA_MT'].mean()

579.6812230047454

##### 2- Qual √© a m√©dia da nota em Linguagens e C√≥digos dos alunos que estudaram numa escola em Minas Gerais?

In [8]:
df_esc_mg['NU_NOTA_LC'].mean()

553.0102913021044

##### 3 - Qual √© a m√©dia da nota em Ci√™ncias Humanas dos alunos do sexo FEMININO que estudaram numa escola em Minas Gerais?

In [9]:
df_esc_mg.loc[df_esc_mg['TP_SEXO'] == 'F','NU_NOTA_CH'].mean()

541.30846117234

##### 4 - Qual √© a m√©dia da nota em Ci√™ncias Humanas dos alunos do sexo MASCULINO que estudaram numa escola em Minas Gerais?

In [10]:
df_esc_mg.loc[df_esc_mg['TP_SEXO'] == 'M','NU_NOTA_CH'] .mean()

559.5546844135107

##### 5 - Qual √© a m√©dia da nota em Matem√°tica dos alunos do sexo FEMININO que estudaram numa escola na cidade de Montes Claros?

In [11]:
df_esc_mg.loc[
    (df_esc_mg['TP_SEXO'] == 'F') & (df_esc_mg['NO_MUNICIPIO_ESC'] == 'Montes Claros'),
    'NU_NOTA_MT'
    ].mean()

562.9888361045129

##### 6 - Qual √© a m√©dia da nota em Matem√°tica dos alunos que estudaram numa escola no munic√≠pio de Sabar√° e que possuem TV por assinatura na resid√™ncia?

In [12]:
df_esc_mg.loc[
    (df_esc_mg['Q021'] == 'B') & (df_esc_mg['NO_MUNICIPIO_ESC'] == 'Sabar√°'),
    'NU_NOTA_MT'
    ].mean()

580.102985074627

##### 7 - Qual √© a m√©dia da nota em Ci√™ncias Humanas dos alunos que estudaram numa escola em Minas Gerais e que possuem dois fornos micro-ondas em casa?

In [13]:
df_esc_mg.loc[
    (df_esc_mg['Q016'] == 'C'),
    'NU_NOTA_CH'
    ].mean()

601.4825757575752

##### 8 - Qual √© a nota m√©dia em Matem√°tica dos alunos que estudaram numa escola em Minas Gerais e cuja m√£e completou a p√≥s-gradua√ß√£o?

In [14]:
df_esc_mg.loc[
    (df_esc_mg['Q002'] == 'G'),
    'NU_NOTA_MT'
    ].mean()

642.24518448662

##### 9 - Qual √© a nota m√©dia em Matem√°tica dos alunos que estudaram numa escola em Belo Horizonte ou em Conselheiro Lafaiete?

In [15]:
df_esc_mg.loc[
    (df_esc_mg['NO_MUNICIPIO_ESC'] == 'Belo Horizonte') | (df_esc_mg['NO_MUNICIPIO_ESC'] == 'Conselheiro Lafaiete'),
    'NU_NOTA_MT'
    ].mean()

621.0282524049466

##### 10 - Qual √© a nota m√©dia em Ci√™ncias Humanas dos alunos que estudaram numa escola em Minas Gerais e que moram sozinhos?

In [17]:
df_esc_mg.loc[
    (df_esc_mg['Q005'] == 1),
    'NU_NOTA_CH'
    ].mean()

537.0544303797469

##### 11 - Qual √© a nota m√©dia em Ci√™ncias Humanas dos alunos que estudaram numa escola em Minas Gerais, cujo pai completou p√≥s-gradua√ß√£o e possuem renda familiar entre R$ 8.360,01 e R$ 9.405,00?

In [19]:
df_esc_mg.loc[
    (df_esc_mg['Q001'] == 'G') & (df_esc_mg['Q006'] == 'L'),
    'NU_NOTA_CH'
    ].mean()

623.9422535211263

##### 12 - Qual √© a nota m√©dia em Matem√°tica dos alunos do sexo Feminino que estudaram numa escola em Lavras e escolheram ‚ÄúEspanhol‚Äù como l√≠ngua estrangeira?

In [21]:
df_esc_mg.loc[
    (df_esc_mg['TP_SEXO'] == 'F') & (df_esc_mg['NO_MUNICIPIO_ESC'] == 'Lavras') & (df_esc_mg['TP_LINGUA'] == 1),
    'NU_NOTA_MT'
    ].mean()

513.3833333333336

##### 13 - Qual √© a nota m√©dia em Matem√°tica dos alunos do sexo Masculino que estudaram numa escola em Ouro Preto?

In [22]:
df_esc_mg.loc[
    (df_esc_mg['TP_SEXO'] == 'M') & (df_esc_mg['NO_MUNICIPIO_ESC'] == 'Ouro Preto'),
    'NU_NOTA_MT'
    ].mean()

615.5823529411764

##### 14 - Qual √© a nota m√©dia em Ci√™ncias Humanas dos alunos que estudaram numa escola em Minas Gerais e possuem entre 26 e 30 anos?

In [24]:
df_esc_mg.loc[
    df_esc_mg['TP_FAIXA_ETARIA'] == 11,
    'NU_NOTA_CH'
    ].mean()

473.47792207792213

##### 15 - Qual √© a nota m√©dia em Matem√°tica dos alunos do sexo FEMININO, que estudaram numa escola em Belo Horizonte, Sabar√°, Nova Lima ou Betim e estudaram em uma escola privada?

In [26]:
df_esc_mg.loc[
    (df_esc_mg['TP_SEXO'] == 'F') & 
    (df_esc_mg['NO_MUNICIPIO_ESC'].isin(['Belo Horizonte', 'Sabar√°', 'Nova Lima', 'Betim'])) &
    (df_esc_mg['TP_ESCOLA'] == 3),
    'NU_NOTA_MT'
    ].mean()

679.1369481765836